{% extends 'core/base.html' %}

{% block title %}
    Contacto
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Resistance at the colony that is when bare phenomenans view. Dosis warp on flight at astral city!</p>
          <br>
          <p><b>Teléfono:</b> +9 632 31 521</p>
          <p><b>Honorarios:</b> 1UF/h (precio base)</p>
        </div>
    </div>
{% endblock %}